 body {
  font-family: 'Julius Sans One', sans-serif;
  display: flex;
  flex-direction: column;
  width: 95%;
  /* border: 2px solid black; */
 }

header {
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#nav-bar {
  display: flex;
  background-color: rgb(36, 56, 97);
  width: 100%;
  height: auto;
  /* border: 2px solid green; */
}

#logo {
  max-width: auto;
  height: 100px;
}

ul {
  list-style: none;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  order: 1;
  margin-left: 80%;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  border: 6px;
  /* border: 2px solid red */
}

a:hover {
  color: #d3bcbc
}

a:active {
  color: #ff7f50;
}

.container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px auto;
}


#header-container {
  /* border: 2px solid black; */
  margin-top: 5px;
}

h1 {
  /* border: 2px solid black; */
  order: -1;
  margin: 10px 15px;
}

#header-p {
  /* border: 2px solid black; */
  font-style: italic;
}

#button-div {
  /* border: 2px solid red; */
  margin: 0;
}

button {
  /* border: 2px solid black; */
  order: 1;
  margin: 25px auto;
  background-color: rgb(36, 56, 97);
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}

#info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 2px solid black; */
  background-color: #d3d3d36b;
}

#avatar {
  max-width: 100px;
  height: auto;
}

#info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 600px;
  margin: 5px 10px;
  white-space: pre-line;
}

/*  SOurced from: https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */
.fade-in {
  animation: fadeIn ease 5s;
  
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

