#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #120064;
  color: gold;
  height: 8vh;
}

#basic-navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: gold;
  padding: 10px;
}
